* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.text-while {
    color: #fff !important;
}

.clear {
    clear: both;
}

.text-center {
    text-align: center !important;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 14px;
    display: inline-block;
    cursor: pointer;
    border: none;
    appearance: none
    
}

.btn:hover {
    color: black;
    background-color: #ccc;
}
.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.colum {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.colum-half {
    width: 50%;
}

.colum-third {
    width: calc(100% / 3);
}

.colum-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mbt-8 {
    margin-bottom: 8px;
}
#main {

}
#nav {
    display: inline-block;
}

#nav ,.subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;

}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav > li > a {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
    cursor: pointer;
}

#nav li:hover .subnav{
    display: block;
}

#nav .nav-dow {
    font-size: 14px;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
#header .menu-btn,
#header .search-nav-button {
    float: right;
    line-height: 46px;
    padding: 0 21px;
}
#header .menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-nav-button:hover {
    background-color: #f44336 !important;
    cursor:grab;
}

#header .menu-btn:hover {
    background-color: #ccc;
   
}

#header .menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 16px;
}



#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background:url('../img/silde/silde1.jpg') top center / cover no-repeat ;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

#slider .text-sub-heading {
    font-size: 15px;
    margin: 15px 0;
    text-shadow: 0 0 1px #000;
}

#content{

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 64px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 50px;
    opacity: 0.6;
    text-align: center;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
}   


#content .member-name {
    font-size: 15px;
}

#content .member-avarta {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tuor-section {
    background-color: #000;
}

.book-tour {
    background-color: #fff;
    margin-top: 40px;
}

.book-tour li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}

.book-tour .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;
    text-align: center;
}

.book-tour .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: -3px;
}

.place-conttent {
    margin-top: 16px;
    margin-bottom: 32px;
}

.place-img {
    width: 100%;
    display: block; 
}

.place-img:hover {
    opacity: 0.6;
}
.place-tour {
    background-color:#fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading {  
   color: #000;
   font-size: 15px;
   font-weight: 600px;
}
.place-date {
    line-height: 1.5;
    margin-top: 15px ;
    color: #757575;
}
.place-desc {
    color: #000;
    line-height: 1.6;
    margin: 15px 0 ;
}


.modal {  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-animation ease .6s;
}

header.modal-header {
    align-items: center;
    background-color: #009688;
    height: 129px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;  
}

.modal-icon-header {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    opacity: 0.75;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px; 
}

input.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

input.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#modal-pay {
    color: #fff;
    background-color: #009688;
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#modal-pay:hover {
    opacity: 0.8;  
}

.modal-footer {
    text-align: right;
    padding: 16px; 
}

.modal-footer a {  
    color: #2196F3;  
}

@keyframes modal-animation {
    from {
        opacity: 1;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-info {   
    font-size: 18px;
    line-height: 1.5;   
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;  
}
.contact-info a {
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 0.6;
}

.contact-input {  
    font-size: 15px;
}

.contact-input .form-ctrl {
    padding: 10px;
    width: 100%;
    border:1px solid #ccc;
}

.submit-contact {
    float: right;
}

.content-img img {
    width: 100%;
}

#footer{
  padding: 64px 16px;
  text-align: center;
}

#footer .socical {
    font-size: 24px;
}

#footer .socical a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socical a:hover,
.copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
}

.copyright a {
    color: rgba(0, 0, 0, 0.6);
}




